* {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-family: 34px;
    width: 883px;
}

.banner {
    border-radius: 2%;
    height: 400px;
}

.titulo {
    font-weight: 900;
    font-size: 89px;
    line-height: 79px;
    color: #ff0000;
}

.titulo-autor {
    font-size: 21px;
    font-weight: 500;
    text-align: right;
    color: black;
}

.historia {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.61;
    color: black;
}

p:empty {
    height: 5px;
    width: 100%;
    background-color: #000000;
    margin: 34px 0 34px 0;
}

.preparo-porcao  {
    font-size: 21px;
    font-weight: 500;
}

.titulo-ingredientes {
    font-size: 34px;
    font-weight: 900;
    color: #ff0000;
}

.lista-ingredientes {
    font-size: 21px; 
    font-weight: 500;
    Line-height: 1.61;
}

.titulo-preparo {
    font-size: 34px;
    font-weight: 900;
    color: #ff0000;
}

.lista-preparacao {
    font-size: 21px;
    font-weight: 500;
}

.lista-preparacao li {
    width: 95%;
}

.titulo-video {
    font-size: 34px;
    font-weight: 900;
    color: #ff0000;
}

.video {
    border-radius: 2%;
}

.voltar {
    font-size: 21px;
    font-weight: 900;
}

.voltar a {
    text-decoration: none;
    Color: #072469;
    /* color: #ff0000; */
}